<!DOCTYPE html>
<html>
<head>
	<title>¡ Radio Jimmy !</title>
	<link rel="stylesheet" type="text/css" href="assets/css/page.css">
	<link rel="stylesheet" type="text/css" href="assets/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="assets/css/map.css">
        <link rel="stylesheet" type="text/css" href="assets/css/list.css">
        <link rel="stylesheet" type="text/css" href="assets/css/player.css">
	<script type="text/javascript" src="assets/vendor/sugar/release/sugar.min.js"/></script>
        <script type="text/javascript" src="assets/js/indexeddb.shim.min.js"/></script>
	<script type="text/javascript" src="assets/vendor/requirejs/require.js" data-main="assets/js/init"/></script>
</head>
<body>

  {{{ body }}}


</body>
</html>
