/* http://codepen.io/larrygeams/pen/sutec */
body {
	font-family: Arial, Helevetica, sans-serif;
	font-size: 12px;

}

.hover {
	border: 20px solid red;
}
/*
.list h1 {
	right: 10px;
	position: absolute;
}
*/
ul {
	pointer-events: all;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%
}
li {
	width: 100%;
	height: 100%;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}
/*
li.radio {
	float: right;
	width: 250px;
	padding: 5px;
	height: 80px;
	display: inline-block;
}
*/

li.radio {
	max-height: 0px;
	overflow: hidden;
}

li.prov-li:hover li.radio, li.prov-li.alone li.radio {
	max-height: 50px;
}

.steps {
	pointer-events: none;
	position: absolute;
	right: 4px;
	margin: 0px auto;
/*
	width: 60%;
	// top: 15%;
	// left: 0px;
*/
}


.ui-sortable-placeholder {
	border: 1px dotted #fff;
	padding: 30px 20px;
	position: relative;
}

.ui-sortable-placeholder:after {
	content: "Place me here. Pretty Please :3";
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
	margin: auto;
	color: #fff;
	text-align: center;
}

label.desc-label {
	background: #34495E;
	height: auto;/****/
	width: 100%;
	display: block;
	border-bottom: 1px solid #2C3E50;
	color: #fff;
	text-transform: capitalize;
	font-size: 11px;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.7s ease;
	position: relative;
	padding: 4px 5px 4px 60px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

label.desc-label h2 span{
	display: inline;
	font-size: 12px;
	text-transform: capitalize;
	font-weight: normal;
	color: #CACACA;
	padding-left: 5px;
}


label.desc-label :before {
	content:"";
	width: 19px;
	height: 19px;
	border: 1px solid #416282;
	display: block;
	position: absolute;
	border-radius: 100%;
	left: 20px;
	top: 15%; /****/
	transition: border 0.7s ease;
	z-index: 9999;
}

label.desc-label :after{
	content: "";
	width: 60px;
	height: auto; /****/
	background: #2C3E50;
	position: absolute;
	left: 0;
	top: 0;
}

label.live :before{
	background: url("http://designmodo.github.io/Flat-UI/images/todo/done.png") no-repeat center center;
	border: 1px solid #1abc9d;
}

li.red label{
	border-right: 8px solid #f87c85;
}

li.red label{
	border-right: 8px solid #f87c85;
}
li:first-child label:before {
	top: 15%;/****/
}

li:first-child label:after {
	height: auto;/****/
}

li.orange label {
	border-right: 8px solid #feb47f;
}

li.blue label{
	border-right: 8px solid #3498db;
}

li.magenta label{
border-right: 8px solid #b985ea;
}

li.green label{
	border-right: 8px solid #43d6b0;
}

/*Modificacines Alicia*/

#radio-list.steps {
	margin: 10px;
	text-align: left;
	width: 350px;
}


/********
 * LISTADO DE PROVINCIAS *
*******/

#radio-list ul.list.provs h1 {
	color: #E5E5E5;
	font-size: 1.2em;
	font-weight: 100;
	text-shadow: 1px 1px 2px #292929;
	text-align: right;
	padding-right: 1px;
	margin-right: 10px;
}

#radio-list ul.list.provs h1:hover {
	text-shadow: 1px 1px 3px #000;

}

#radio-list ul.provs {
	background: #2C3E50;
	padding: 3px 0px;
}

#radio-list ul.provs li {
	border-bottom: 1px solid #2C3E50;
	cursor: pointer;
}

#radio-list ul.provs li:hover {
	border-bottom: 1px solid #36526D;
	color: red;
}
#radio-list li.radio:hover{
	color: red;
}

/********
 * LISTADO DE RADIOS *
*******/

#radio-list h2 {
	color: #f2f2f2;
	font-size: 1em;
	font-weight: bold;
	margin: 4px;
}

 ul.radios li.radio {
	width: 100%;
	margin: 0;
	height: auto;
	display: block;

}

 ul.list.radios li.radio {

}
