/* http://codepen.io/larrygeams/pen/sutec */

body{
  font-family: sans-serif;
}

h1{
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
}

.hover {
  border: 20px solid red
}

.list h1 {
  right: 10px;
  position: absolute;
}

ul{
  pointer-events: all;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%
}
}

li {
  width: 100%;
  height: 100%
}

li.radio {
  float: right;
  width: 250px;
  padding: 5px;
  height: 80px;
  display: inline-block;
}

.steps{
  pointer-events: none;
    width: 60%;
  position: absolute;
//  top: 15%;
//  left: 0px; 
  right: 0px;
  margin: 0px auto;
}

.ui-sortable-placeholder{
  border: 1px dotted #fff;
  padding: 30px 20px;
  position: relative;
}

.ui-sortable-placeholder:after{
  content: "Place me here. Pretty Please  :3";
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
  text-align: center;
}


label.desc-label{
  background: #34495E;
  height: 69px;
  width: 100%;
  display: block;
  border-bottom: 1px solid #2C3E50;
  color: #fff;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 11px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.7s ease;
  position: relative;
  padding: 5px 5px 5px 70px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


label.desc-label h2 span{
  display: block;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: normal;
  color: #bdc3c7;
}

label.desc-label :before{
  content:"";
  width: 19px;
  height: 19px;
  border: 1px solid #416282;
  display: block;
  position: absolute;
  border-radius: 100%;
  left: 20px;
  top: 30%;
  transition: border 0.7s ease;
  z-index: 9999;
}

label.desc-label :after{
  content: "";
  width: 60px;
  height: 68px;
  background: #2C3E50;
  position: absolute;
  left: 0;
  top: 0;
}


label.live :before{
  background: url("http://designmodo.github.io/Flat-UI/images/todo/done.png") no-repeat center center;
  border: 1px solid #1abc9d;
}

li.red label{
  border-right: 8px solid #f87c85;
}


li:first-child label:before{
  top: 40%;
}

li:first-child label:after{
  height: 149px;
}

li.orange label{
  border-right: 8px solid #feb47f;
}

li.blue label{
  border-right: 8px solid #3498db;
}

li.magenta label{
  border-right: 8px solid #b985ea;
}

li.green label{
  border-right: 8px solid #43d6b0;
}
