path {
  fill: #000;
  fill-opacity: .1;
  stroke: #fff;
  stroke-width: 2;
}

path:hover {
  fill-opacity: .2;
}

path.selected {
    fill: #600;
  fill-opacity: .5;

}

.country, .state {
	cursor: pointer;
}

.country {
	fill: #353e4d;
}

/* Hide US State Layer (they are only used for hovers) */
.state {
	fill: transparent;
}

.state:hover, .country:hover {
	fill: rgba(255, 255, 255, 0.3);
}

.country.ARG, .country.FLK {
	fill: #e83 ;
}

/* Fixes "Gaps" in US State Layer */
.country.US:hover {
	fill: #353e4d;
}

.marker {
	fill: transparent;
	stroke: rgba(255, 0, 0, 0.9);
}

.marker:hover {
	fill: rgba(255, 255, 255, 0.7);
}

.arc {
	fill: none;
	stroke: white;
	stroke-width: 1px;
	stroke-dasharray: 0,2 1;
}